In [167]:
import os
import numpy as np
import pandas as pd
from collections import defaultdict
from functools import reduce
from datetime import timedelta, date, datetime

In [2]:
def get_labels(house_num, PATH='data/low_freq/'):
    return pd.read_table("{0}house_{1}/labels.dat".format(PATH, house_num), header=None, delim_whitespace=True, 
                               names=['channel', 'appliance'], dtype={'channel': np.int16, 'appliance': np.str})

In [3]:
labels_house_1 = get_labels(house_num=1)

In [116]:
labels_house_1.keys()

Index(['channel', 'appliance'], dtype='object')

In [117]:
labels_house_1

    channel        appliance
0         1            mains
1         2            mains
2         3             oven
3         4             oven
4         5     refrigerator
5         6        dishwaser
6         7  kitchen_outlets
7         8  kitchen_outlets
8         9         lighting
9        10     washer_dryer
10       11        microwave
11       12     bathroom_gfi
12       13    electric_heat
13       14            stove
14       15  kitchen_outlets
15       16  kitchen_outlets
16       17         lighting
17       18         lighting
18       19     washer_dryer
19       20     washer_dryer

<p>Channels Appliance </p>
<p>5 Refrigerator</p>
<p>6 Dishwasher</p>
<p>11 Microwave</p>
<p>13 Electric Heater</p>

In [30]:
#channel_num = 5
#PATH = "data/low_freq/house_1/channel_"+str(channel_num)+'.dat'
#refrigerator_data = pd.read_table(PATH, header=None, delim_whitespace=True, 
#             names=['time_stamp', 'power'], dtype={'time_stamp': np.string_, 'power': np.float128})

In [4]:
def get_channel_data(channel_num, as_csv=False):
    '''
    input: channel_num (int)
            as_csv (bool)
    return: 
        True if as_csv=True
        pandas.core.frame.DataFrame if as_csv=False
    '''
    PATH = "data/low_freq/house_1/channel_"+str(channel_num)+'.dat'
    if as_csv:
        ret_file = labels_house_1.loc[labels_house_1['channel'] == channel_num].iloc[0][1]
        pd.read_table(PATH, header=None, delim_whitespace=True, 
                        names=['time_stamp', 'power'], 
                             dtype={'time_stamp': np.string_, 'power': np.float128}).to_csv(ret_file+'_data.csv')
        return True 
    else:
        return pd.read_table(PATH, header=None, delim_whitespace=True, 
                        names=['time_stamp', 'power_{0}'.format(labels_house_1.loc[labels_house_1['channel'] == channel_num].iloc[0][1])], 
                             dtype={'time_stamp': np.string_, 'power': np.float128})

In [5]:
ch_nums = [5, 6, 11, 13, 14]

In [8]:
for ch in ch_nums:
    get_channel_data(ch, as_csv=True)

In [6]:
def merge_all(ch_nums):
    full_data = get_channel_data(channel_num=ch_nums[0])
    for ch in ch_nums[1:]:
        full_data = full_data.merge(get_channel_data(ch), how='inner', on=['time_stamp'])
    return full_data

In [80]:
full_data = merge_all(ch_nums)

In [11]:
full_data.keys()

Index(['time_stamp', 'power_refrigerator', 'power_dishwaser',
       'power_microwave', 'power_electric_heat', 'power_stove'],
      dtype='object')

<p>Need 2 csvs
<p>1: Need day by day data for each appliance - num_days x num_devices
<p>2: Need hour by hour data for each day for each appliance -

In [235]:
full_data['time_stamp'] = pd.to_datetime(full_data['time_stamp'], unit='s')

In [236]:
full_data.head()

,time_stamp,power_refrigerator,power_dishwaser,power_microwave,power_electric_heat,power_stove
0,2011-04-18 13:22:13,6.0,0.0,5.0,0.0,0.0
1,2011-04-18 13:22:16,6.0,0.0,5.0,0.0,0.0
2,2011-04-18 13:22:20,6.0,0.0,5.0,0.0,0.0
3,2011-04-18 13:22:23,6.0,1.0,5.0,0.0,0.0
4,2011-04-18 13:22:26,6.0,0.0,5.0,0.0,0.0

In [21]:
day_by_day = full_data.resample(rule='D', on='time_stamp').sum()

In [22]:
day_by_day.head()

,power_refrigerator,power_dishwaser,power_microwave,power_electric_heat,power_stove
time_stamp,,,,,
2011-04-18,643334.0,1117.0,496669.0,2872.0,2376.0
2011-04-19,1087604.0,1107430.0,339651.0,1991.0,1824.0
2011-04-20,1176889.0,1237.0,623093.0,3426.0,3275.0
2011-04-21,951020.0,958.0,309471.0,1653.0,1527.0
2011-04-22,1156480.0,1331.0,205417.0,1655.0,1639.0

In [185]:
hour_by_hour = full_data.resample(rule='H', on='time_stamp').sum()

In [84]:
hour_by_hour.head()

,power_refrigerator,power_dishwaser,power_microwave,power_electric_heat,power_stove
time_stamp,,,,,
2011-04-18 13:00:00,3563.0,113.0,2662.0,522.0,436.0
2011-04-18 14:00:00,134014.0,425.0,27448.0,105.0,255.0
2011-04-18 15:00:00,116762.0,8.0,75297.0,318.0,265.0
2011-04-18 16:00:00,54328.0,10.0,3732.0,0.0,0.0
2011-04-18 17:00:00,46438.0,8.0,3620.0,0.0,0.0

In [157]:
refrigerator_hh = hour_by_hour[['power_refrigerator']]
dishwasher_hh = hour_by_hour[['power_dishwaser']]
microwave_hh = hour_by_hour[['power_microwave']]
electric_heat_hh = hour_by_hour[['power_electric_heat']]
stove_hh = hour_by_hour[['power_stove']]

In [166]:
#to_csv function
def to_csv(df_list):
    for df in df_list:
        df.to_csv(df.name + '.csv') #change this to the corresponding house

In [169]:
day_by_day.name = 'day_by_day'
hour_by_hour.name = 'hour_by_hour'
refrigerator_hh.name = 'refrigerator_hh'
dishwasher_hh.name = 'dishwasher_hh'
microwave_hh.name = 'microwave_hh'
electric_heat_hh.name = 'electric_heat_hh'
stove_hh.name = 'stove_hh'

In [171]:
df_list = [day_by_day, hour_by_hour, refrigerator_hh, dishwasher_hh, microwave_hh, electric_heat_hh, stove_hh]

In [172]:
to_csv(df_list)

In [2]:
#multiline - date must be 0 to 23

In [87]:
def daterange(start, end):
    for n in range(int((end - start).days)):
        yield start + timedelta(n)

In [129]:
def grp_to_csv(grpby, day):
    tdf = pd.DataFrame(grpby)
    tdf.index = tdf.index.map(lambda x: pd.to_datetime(x).hour)
    tdf.to_csv('dayhour/day_' + '{0}'.format(day) + '.csv')

In [131]:
def get_dayhour(df, start_date, end_date):
    day = 1
    for d in daterange(start_date, end_date):
        grp_to_csv(df.groupby(pd.Grouper(freq='D')).get_group(d), day)
        day += 1

In [132]:
start_date = date(2011, 4, 18)
end_date = date(2011, 5, 25)
get_dayhour(hour_by_hour, start_date, end_date)

In [135]:
hour_by_hour.index.map(lambda x: pd.to_datetime(x).hour)

Int64Index([13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
            ...
            10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
           dtype='int64', name='time_stamp', length=871)

In [198]:
temp = hour_by_hour.copy()

In [ ]:
temp.groupy(pd.Grouper(freq='D'))

In [ ]:
def get_dayhour(df, start_date, end_date):
    day = 1
    tmp = pd.DataFrame() #empty dataframe 
    for d in daterange(start_date, end_date):
        #grp_to_csv(df.groupby(pd.Grouper(freq='D')).get_group(d), day)
        day += 1

In [178]:
basedate = datetime(2011, 4, 18, 0, 0, 0)

In [199]:
temp.insert(loc=0, column='day', value=temp.index.map(lambda x: (x.to_datetime() - basedate).days))

In [225]:
hh_day_hour = hour_by_hour.copy()

In [226]:
hh_day_hour.insert(loc=0, column='day', value=temp.index.map(lambda x: (x.to_datetime() - basedate).days + 1))

In [227]:
hh_day_hour.index = hh_day_hour.index.map(lambda x: pd.to_datetime(x).hour)

In [237]:
hh_day_hour

,day,power_refrigerator,power_dishwaser,power_microwave,power_electric_heat,power_stove
time_stamp,,,,,,
13,1,3563.0,113.0,2662.0,522.0,436.0
14,1,134014.0,425.0,27448.0,105.0,255.0
15,1,116762.0,8.0,75297.0,318.0,265.0
16,1,54328.0,10.0,3732.0,0.0,0.0
17,1,46438.0,8.0,3620.0,0.0,0.0
18,1,46377.0,5.0,25930.0,168.0,115.0
19,1,60233.0,24.0,3935.0,52.0,3.0
20,1,55216.0,22.0,75016.0,322.0,276.0
21,1,64486.0,16.0,3976.0,0.0,1.0
22,1,56097.0,273.0,51595.0,310.0,185.0
23,1,5820.0,213.0,223458.0,1075.0,840.0
0,2,66865.0,552467.0,19687.0,75.0,67.0
1,2,56326.0,470791.0,3829.0,0.0,0.0
2,2,23852.0,83603.0,4048.0,0.0,0.0
3,2,60451.0,49.0,4142.0,48.0,22.0
4,2,57728.0,14.0,3800.0,0.0,0.0
5,2,49928.0,8.0,3800.0,0.0,0.0
6,2,39973.0,6.0,3800.0,0.0,0.0
7,2,45883.0,8.0,3792.0,0.0,0.0
8,2,19211.0,4.0,3796.0,0.0,0.0
9,2,50929.0,13.0,3804.0,0.0,1.0
10,2,47805.0,22.0,3800.0,0.0,0.0
11,2,56636.0,20.0,97972.0,1098.0,1079.0
12,2,53576.0,32.0,4090.0,138.0,116.0
13,2,54557.0,81.0,55171.0,232.0,200.0
14,2,47288.0,29.0,3986.0,0.0,1.0
15,2,15708.0,10.0,7266.0,14.0,6.0
16,2,45792.0,21.0,4124.0,0.0,0.0
17,2,46914.0,25.0,4063.0,0.0,0.0
18,2,54161.0,53.0,4125.0,0.0,2.0
...,...,...,...,...,...,...
14,36,2896.0,0.0,1946.0,0.0,0.0
15,36,63918.0,68.0,4083.0,0.0,2.0
16,36,67164.0,66.0,4123.0,0.0,2.0
17,36,55305.0,20.0,27891.0,112.0,90.0
18,36,8544.0,0.0,4145.0,0.0,0.0
19,36,56820.0,34.0,4165.0,0.0,1.0
20,36,57084.0,23.0,4156.0,0.0,0.0
21,36,57675.0,27.0,4047.0,0.0,0.0
22,36,109514.0,351.0,208067.0,983.0,767.0
23,36,197051.0,405.0,69150.0,315.0,346.0
0,37,38778.0,25.0,49525.0,211.0,183.0
1,37,59973.0,21.0,71536.0,311.0,267.0
2,37,6039.0,260994.0,3940.0,0.0,0.0
3,37,80261.0,703630.0,3696.0,0.0,0.0
4,37,68812.0,171236.0,3796.0,0.0,0.0
5,37,6549.0,0.0,3800.0,0.0,0.0
6,37,70702.0,18.0,3796.0,0.0,0.0
7,37,52777.0,25.0,3796.0,0.0,0.0
8,37,22081.0,0.0,3800.0,0.0,0.0
9,37,69782.0,38.0,3796.0,0.0,0.0
10,37,30470.0,25.0,30505.0,119.0,258.0
11,37,62631.0,76.0,75825.0,1109.0,956.0
12,37,58512.0,91.0,102139.0,696.0,590.0
13,37,62677.0,63.0,3644.0,0.0,0.0
14,37,59558.0,70.0,3636.0,0.0,0.0
15,37,31302.0,45.0,3600.0,0.0,0.0
16,37,35060.0,24.0,3600.0,0.0,0.0
17,37,61329.0,72.0,3636.0,0.0,0.0
18,37,19848.0,40.0,1928.0,0.0,0.0
19,37,3195.0,5.0,68.0,0.0,0.0

In [228]:
refrigerator_hh = hh_day_hour[['day', 'power_refrigerator']]
dishwasher_hh = hh_day_hour[['day', 'power_dishwaser']]
microwave_hh = hh_day_hour[['day', 'power_microwave']]
electric_heat_hh = hh_day_hour[['day', 'power_electric_heat']]
stove_hh = hh_day_hour[['day', 'power_stove']]

In [229]:
refrigerator_hh.name = 'refrigerator_hh'
dishwasher_hh.name = 'dishwasher_hh'
microwave_hh.name = 'microwave_hh'
electric_heat_hh.name = 'electric_heat_hh'
stove_hh.name = 'stove_hh'

In [230]:
df_list = [refrigerator_hh, dishwasher_hh, microwave_hh, electric_heat_hh, stove_hh]

In [231]:
def to_csv(df_list):
    for df in df_list:
        df.to_csv('data/house_1/hour_by_hour/' + str(df.name) + '.csv') #change this to the corresponding house

In [232]:
to_csv(df_list)

In [233]:
!which python

/anaconda/bin/python